services:
  - type: web
    name: dragon-miniapp-server
    env: node
    region: singapore

    plan: starter
    branch: main
    rootDir: ./

    buildCommand: "npm install"
    startCommand: "node server.js"

    envVars:
      - key: PORT
        value: 3000

      - key: NODE_ENV
        value: production

    healthCheckPath: /
